@media screen and (max-width: 1000px )
{
	.logo{width: 80%;}
	.hero .frase { width: 100%; color: white; padding:60px 30px;}
	.hero .frase h2 { font-size: 30px; }
	.btn_menu{ margin-bottom: 10px; }
	.rpta{margin-top: -100px;}
}